/* background */
body {
    background-image: url("images/veggiebackground.jpg");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
    min-height: 100vh;
    position: relative;

}

/* index add recipe and view recipe buttons*/
.button {
    background-color: #FFBF00;
    color: #fff;
    padding: 8px 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 0 auto;
    transition: background-color 0.3s ease;
    display: inline-block;
}

/* recipe output directions, ingredients and image*/
.recipe-details {
    text-align: center;
    margin: 0 auto;
    color: black;
    font-size: 20px;
}

/* buttons on the recipe details page*/
.button-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.button-container form {
    margin-right: 5px;
}
.button-container form input[type="submit"] {
    padding: 10px 20px;
    background-color: orangered;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
   
}
.button-container form input[type="submit"]:hover {
    background-color: orangered;
}/* end button styling*/

/* centered eggplant headings*/
.center-heading {
    text-align: center;
    color: #483248;
    text-shadow: 1px 1px 2px white;
    font-size: 50px;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif ;
    margin-top: 100px;
}

/* index subheader */
.center-subheading {
    text-align: center;
    color: orangered;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.home-button {
    padding: 8px 16px;
    font-size:14px;
    background-color: orangered;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top:20px;
    float: right;
}

.recipe {
    text-align: center;
    margin-bottom: 20px;
}

.recipe h2 {
    font-size: 30px;
    color: orangered;
    margin-bottom: 5px;
}

.recipe p {
    font-size: 16px;
    margin-top: 5px;
}
.recipe a {
    color: #228B22;
    text-decoration: none; 
    font-weight: bold;
    font-size: 20px;
}

.recipe a:hover {
    text-decoration: underline;
}

/* edit recipe form*/
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
}

/* edit recipe form*/
label {
    display: block;
    margin-bottom: 5px;
    color: white;
}

input[type="text"],
textarea {
    width: 80%; 
    padding: 10px; 
    margin-bottom: 15px; 
    border: 1px solid #ccc; 
    border-radius: 30px; 
    
}